
.deal-card {
  background: white;
  z-index: 100;
  -webkit-box-shadow: 0 1px 14px 3px #333;
  -moz-box-shadow: 0 1px 14px 3px #333;
  box-shadow: 0 1px 14px 3px #333;
}

.deal-pinned {
  z-index: -1 !important;
  position: fixed;
  width: 100%;
  top: 0px;
}
