
.deal-card {
  background: white;
  z-index: 100;
  -webkit-box-shadow: 0 0 12px #666;
-moz-box-shadow:    0 0 12px #666;
box-shadow:         0 0 12px #666;
}

.deal-pinned {
  z-index: -1 !important;
  position: fixed;
  width: 100%;
  top: 0px;
}
