
.deal-card {
  background: white;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333; }
  /* line 28, style.css.scss */
.deal-pinned {
  z-index: -1 !important;
  position: fixed;
  width: 100%;
  top: 0px; }
